body{
	padding: 0;
	margin: 0;
	margin-top: -4vw;
	background: url(../img/grass.jpg);
	background-repeat: round;
	background-attachment: fixed;  
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

footer{
	position: fixed;
	top: 0;
	left: 0;
	padding-top: 3vw;
	height: 25vw;
	width: 100vw;
	font-size: 3vw;
	text-align: center;
	z-index: 20;
}

ul{
	list-style: none;
}

#fog{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 70vh;
	background: linear-gradient(to top, rgba(42,119,248,0), rgba(42,119,248,1));
	z-index: 10;
}

/*#cow>li>span{
	text-align: right;
}
*/

#bull>li>span{
	text-align: center;
	margin-left:-6vw;
}

li{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	height: 6vw;
	width: 49vw;
	font-size: 2vw;
	color: white;	
}

.flexible{
	width: 38vw; 
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}

img{
	height: 5vw;
	border-image: 0;
	border: 0;
}


.displayTable{
	display:flex;
	justify-content: space-around;
	flex-direction: row;
	font-size: 3vw;
}
#displayResult{
	padding-top: 27vw;	
	height: 100%;
	width: 100%;
}