body{
	padding: 0;
	margin: 0;
	margin-top: -4vw;
	background-image: url(../img/grass.jpg);
	background-repeat: round;
	background-attachment: fixed;  
	weight: 100%;
	height: 100%;
	overflow: scroll;
}

footer{
	position: fixed;
	padding-top: 3vw;
	background: linear-gradient(to top, rgba(42,119,248,0),rgba(42,119,248,1));
	/*background-color: rgba(42,119,248,0.4);*/
	height: 25vw;
	width: 100vw;
	font-size: 3vw;
	text-align: center;
}

ul{
	list-style: none;
}

li{
	height: 10vw;
	width: 50vw; 
	display: flex;
	justify-content: space-around;
	flex-direction: row;	
}

img{
	height: 7vw;
	border-image: 0;
	border: 0;
}


.displayTable{
	display:flex;
	justify-content: space-around;
	flex-direction: row;
	font-size: 3vw;
}
#displayResult{
	padding-top: 27vw;	
	height: 100%;
	width: 100%;
}